---
import KvBanner from './KvBanner.astro';
---

<section id="award" class="pt-0">
  <KvBanner color="yellow" title="Award & Recognition" />
  <div class="bg-white">
    <div class="max-w-7xl mx-auto px-4 lg:px-6 overlap-wrap pb-16">
      <div class="grid gap-8">
        <div class="p-6 rounded-2xl bg-white border border-gray-200">
          <ul class="list-disc ml-5 text-sm space-y-2 text-gray-700">
            <li>Awardee will receive a cash prize of USD20,000 and the Harmony in Diversity Award trophy</li>
            <li>Awardee will be invited to a formal presentation of Award at the award ceremony</li>
            <li>Awardee will attend a series of curated events to showcase his/her work and achievements</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>